@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  color: #333;
  font-size: 0.875rem;
  /* min-height: 100vh;
  position: relative; */
}

a {
  color: #333;
  text-decoration: none;
  transition: all 0.5s;
}
a:hover {
  opacity: 0.7;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}

.wrapper {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
}
// .content {
//   padding-top: 120px;
//   padding-bottom: 160px;
// }
.site-title a {
  width: 180px;
  line-height: 1px;
  display: block;
}
// .page-title {
//   font-size: 0.875rem;
//   font-weight: normal;
//   margin-bottom: 30px;
// }


#header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10
}

/*
ハンバーガーメニュー
メニューが閉じている時は、「left: -300px;」で画面左に隠し、
「opacity: 0;」で非表示にしている
*/
#navi {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  color: #fff;
  padding: 36px 50px;
  transition: all 0.5s;
  z-index: 20;
  opacity: 0;
  a {
    color: #fff;
  }
  li {
    margin-bottom: 14px;
  }
}

/*
ハンバーガーメニュー
メニューが開いている時は、「left: 0;」「opacity: 1;」で
画面左に表示する
*/
.open #navi {
  left: 0;
  opacity: 1;
}
.toggle_btn {
  width: 30px;
  height: 30px;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 20;
/*
ハンバーガーメニューの「線」の設定
（メニューが閉じている時）
*/
  span {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #333;
    border-radius: 4px;
    transition: all 0.5s;
  }
  /*
  「1本目」の線の位置を設定
  */
  span:nth-child(1) {
    top: 10px;
  }
  /*
  「2本目」の線の位置を設定
  */
  span:nth-child(2) {
    bottom: 10px;
  }
}
/*
ハンバーガーメニューの「線」の設定
（メニューが開いている時）
線の色を白に変更
*/
.open .toggle_btn {
  span {
    background-color: #fff;
  }
  /*
  「1本目」の線を-45度回転
  */
  span:nth-child(1) {
    -webkit-transform: translateY(4px) rotate(-45deg);
    transform: translateY(4px) rotate(-45deg);
  }
  /*
  「2本目」の線を45度回転
  */
  span:nth-child(2) {
    -webkit-transform: translateY(-4px) rotate(45deg);
    transform: translateY(-4px) rotate(45deg);
  }
}
#mask {
  display: none;
  transition: all 0.5s;
}
/*
メニューを開いている時は、
全体を黒背景にする
*/
.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  z-index: 10;
  cursor: pointer;
}

/*-------------------------------------------
TOP、PRODUCTS
-------------------------------------------*/
#top {
  padding-top: 80px;
  padding-bottom: 160px;
}

.product-list {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-between;
  display:grid;
  grid-template-columns: repeat(4, 23%);
  grid-template-rows: repeat(2);

  gap: 30px 3%;
  // justify-content: center;
  align-content: center;

  justify-items: center;
  align-items: center;
  
  margin-bottom: 3rem;
  img {
    margin-bottom: 10px;
    vertical-align: top;
  }
  p {
    font-size: 0.75rem;
  }
}
// .product-list li {
//   width: 23%;
//   margin-bottom: 40px;
// }
/*
vertical-align: top;
画像の下にできる隙間を消す
*/

.link-text {
  display: block;
  text-align: center;
  // margin-top: 100px;
}
// .pagination {
//   display: flex;
//   justify-content: center;
// }
// .pagination li {
//   padding: 0 20px;
// }

/*-------------------------------------------
ITEM
-------------------------------------------*/
#item {
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
#item .item-text {
  width: 42%;
}
/*
text-align: justify;
テキストの両端を揃える
*/
#item .item-text p {
  margin-bottom: 30px;
  text-align: justify;
}
#item .item-text dl {
  display: flex;
  flex-wrap: wrap;
}
#item .item-text dt {
  width: 30%;
}
#item .item-text dd {
  width: 70%;
}
#item .item-img {
  width: 50%;
}